<div id="<%= dom_id question %>">
  <p>
    <strong>Painting:</strong>
    <%= question.painting_id %>
  </p>

  <p>
    <strong>Emoji1:</strong>
    <%= question.emoji1_id %>
  </p>

  <p>
    <strong>Emoji2:</strong>
    <%= question.emoji2_id %>
  </p>

  <p>
    <strong>Emoji3:</strong>
    <%= question.emoji3_id %>
  </p>

</div>
