<%
=begin%>
 <div data-controller="step">
  <section id="welcome" class="container" data-step="0" data-target="step.section">
    <h1>Déplace toi</h1>
    <p>Veuillez vous diriger vers la peinture : <strong><%= @painting.name %></strong></p>
    <div class="painting text-center">
      <%= image_tag @painting.image, class: 'painting-image mb-4' %>
    </div>
    <button data-action="click->step#next">Suivant</button>
  </section>

  <section id="contribution" class="container" data-controller="emoji" data-step="1" data-target="step.section" hidden>
    <h1>Décris le tableau</h1>
    <p>Choisis 3 emojis pour décrire ce tableau.</p>
    <div id="selected-emojis" class="emoji-selection-interface" data-emoji-target="selectedEmojis">
    </div>
    <div id="emoji-selection" class="emoji-grid">
      <% @emojis.each do |emoji| %>
        <div class="emoji-card text-center m-2" data-emoji-id="<%= emoji.id %>" data-action="click->emoji#addEmoji">
          <%= emoji.image %>
        </div>
      <% end %>
    </div>

    <%= form_with url: submit_contribution_questions_path, method: :post, local: true, data: { action: "submit->step#submitForm" } do |f| %>
      <%= hidden_field_tag :painting_id, @painting.id %>
      <%= hidden_field_tag :emoji1_id, nil, id: 'emoji1_id', data: { emoji_target: 'emoji1Id' } %>
      <%= hidden_field_tag :emoji2_id, nil, id: 'emoji2_id', data: { emoji_target: 'emoji2Id' } %>
      <%= hidden_field_tag :emoji3_id, nil, id: 'emoji3_id', data: { emoji_target: 'emoji3Id' } %>

      <div class="bouton-container">
        <%= f.submit 'Valider', class: 'btn-submit bouton-container-top', disabled: true, id: 'submit-button', data: { emoji_target: 'submitButton' } %>
        <div class="bouton-container-bottom"></div>
      </div>
    <% end %>
  </section>

  <section id="thanks" class="container" data-step="2" data-target="step.section" hidden>
    <h1>Merci pour ta contribution</h1>
    <p>Ta contribution a bien été envoyée</p>
    <button data-action="click->step#reset">Contribuer à nouveau</button>
  </section>
</div>
<%
=end%>

<div data-controller="step">
  <section id="welcome" class="container page" data-step="0" data-target="step.section">
    <div class="contribute-location-top">
      <h2>Décris le tableau 🎨 </h2>
      <div class="contribute-location-text">
        <p>Maintenant, à toi de jouer, mon pote ! Pas de bonnes ou mauvaises réponses, laisse ton swag s’exprimer...</p>
        <p>Tu vas devoir décrire ce tableau :</p>
        <p><strong><%= @painting.name %></strong> de <%= @painting.author %> fait en <%= @painting.date %></p>
      </div>
    </div>
    <div class="contribute-text-image">
      <div class="painting-location">
        <%= image_tag @painting.image %>
      </div>
      <p>Trouve-le dans la salle du musée.</p>
    </div>
    <button class="bouton-container" data-action="click->step#next">J'y suis</button>
  </section>

  <section id="contribution" class="container page" data-controller="emoji" data-step="1" data-target="step.section" hidden>
    <div class="result-top">
      <h2>Décris le tableau &#x1F3A8</h2>
      <p>Choisis 3 emojis pour décrire ce tableau.</p>
    </div>
    <div class="emoji-selection-container mt-4">
      <p class="fw-bold mb-2">Voici ta saisie :</p>
      <div id="selected-emojis" class="emoji-selection-interface" data-emoji-target="selectedEmojis"></div>
    </div>
      <p class="fw-bold mb-2">Sélectionne trois emoji dans la liste suivante :</p>
      <div id="emoji-selection" class="emoji-grid">
      <% @emojis.each do |emoji| %>
        <div class="emoji-card text-center m-2" data-emoji-id="<%= emoji.id %>" data-action="click->emoji#addEmoji">
          <%= emoji.image %>
        </div>
      <% end %>
    </div>

    <button type="button" data-action="emoji#resetEmojis">Réinitialiser la sélection</button> <div id="selected-emojis" class="emoji-selection-interface" data-emoji-target="selectedEmojis">
    
    <%= form_with url: submit_contribution_questions_path, method: :post, local: true, data: { action: "submit->step#submitForm" } do |f| %>
    <%= hidden_field_tag :painting_id, @painting.id %>
    <%= hidden_field_tag :emoji1_id, nil, id: 'emoji1_id', data: { emoji_target: 'emoji1Id' } %>
    <%= hidden_field_tag :emoji2_id, nil, id: 'emoji2_id', data: { emoji_target: 'emoji2Id' } %>
    <%= hidden_field_tag :emoji3_id, nil, id: 'emoji3_id', data: { emoji_target: 'emoji3Id' } %>


    <div class="bouton-container">
      <%= f.submit 'Valider', class: 'btn-submit', disabled: true, id: 'submit-button', data: { emoji_target: 'submitButton' } %>
    </div>

    <% end %>
  </section>

  <section id="thanks" class="container" data-step="2" data-target="step.section" hidden>
    <h1>Merci pour ta contribution</h1>
    <p>Ta contribution a bien été envoyée</p>
    <button data-action="click->step#reset">Contribuer à nouveau</button>
  </section>
</div>
