<div class="container page result-page" data-controller="questions">
  <% if @success %>
    <div class="result-top">
      <h2>Bonne réponse ! &#x1F525</h2>
      <p><%= @result_message %> &#x1F440</p>
      <p class="big-emoji">&#x1F60E</p>
    </div>
  <% else %>
  <div class="result-top">
    <h2>C'est raté ! &#x1F605</h2>
    <p><%= @result_message %></p>
  </div>
    <div class="mt-3">
      <%= image_tag @question.painting.image, class: 'img-fluid' %>
      <div class="emoji-combination d-flex justify-content-center">
        <%= @question.emoji1.image %>
        <%= @question.emoji2.image %>
        <%= @question.emoji3.image %>
      </div>
      <p>Il s'agissait de : <%= @question.painting.name %> par <%= @question.painting.author %> en <%= @question.painting.date %>.</p>
    </div>
  <% end %>
  <%= link_to "Continuer", new_question_questions_path, class: "btn btn-primary mt-4 button-continue" %>
</div>
