<div class="container page result-page" data-controller="questions">
  <% if @success %>
    <div class="result-top">
      <h2>Bonne réponse ! &#x1F525</h2>
      <p><%= @result_message %> &#x1F440</p>
      <p class="big-emoji">&#x1F60E</p>
    </div>
  <% else %>
  <div class="result-top">
    <h2>C'est raté ! &#x1F605</h2>
    <p><%= @result_message %></p>
  </div>
    <div class="mt-3">
      <%= image_tag @question.painting.image, class: 'img-fluid' %>

      <p class="result-text-false">C'était <span class="fst-italic fw-medium"> <%= @question.painting.name %> </span> de <%= @question.painting.author %> fait en <%= @question.painting.date %>.</p>
    </div>
  <% end %>
  <%= link_to "Continuer", new_question_questions_path, class: "button-continue bouton-container" %>
</div>
