<div id="<%= dom_id painting %>">
  <p>
    <strong>Name:</strong>
    <%= painting.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= painting.author %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= painting.image %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= painting.date %>
  </p>

  <p>
    <strong>Rebus:</strong>
    <%= painting.rebus %>
  </p>

</div>
