<div id="<%= dom_id painting %>">
  <p>
    <strong>Name:</strong>
    <%= painting.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= painting.author %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= painting.image %>
  </p>
  <img src="<%= painting.image %>" alt="Painting image" />


  <p>
    <strong>Date:</strong>
    <%= painting.date %>
  </p>

  <p>
    <strong>Meme:</strong>
    <%= painting.rebus %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= painting.id %>
  </p>

</div>
